@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css');

.va {
  display: flex;
  align-items: center;
}

.hero,
.cta {
  background-color: #5DAC81;
}

.cta {
  height: 500px;
  border-top: 10px solid #5DAC81;
}

footer {
  color: #FFFFFB;
  background: rgb(93, 172, 129) !important;
}

footer .license {
  font-size: 0.7rem;
}

footer a {
  color: #FFFFFB;
}

footer a:hover {
  color: #F596AA;
}

.header-title {
  color: #FFFFFB;
  font-weight: 800;
  font-size: 3rem;
  font-family: 'Quicksand', 'Rounded Mplus 1c', sans-serif;
}

.header-message strong {
  color: #FFFFFB;
  font-size: 0.9rem;
  font-family: 'Rounded Mplus 1c', sans-serif;
}

.header-sns {
  color: #FFFFFB;
}

.header-sns:hover {
  color: #F596AA;
}

.footer-message {
  color: #FFFFFB;
  font-size: 1.0rem;
  font-family: 'Quicksand', 'Rounded Mplus 1c', sans-serif;
}

.content-background {
  background-color: rgba(93, 172, 129, 0.5);
}

.title {
  color: #FFFFFB;
  font-weight: 800;
  font-size: 3rem;
  font-family: 'Quicksand', 'Rounded Mplus 1c', sans-serif;
  text-shadow: 1px 1px 1px #0C0C0C, 3px 3px 5px rgba(12, 12, 12, 0.3);
}

.subtitle {
  color: #FCFAF2;
  font-size: 1.4rem;
  font-family: 'Rounded Mplus 1c', sans-serif;
  text-shadow: 1px 1px 1px #0C0C0C, 3px 3px 5px rgba(12, 12, 12, 0.2);
}

hr.content-divider {
  background: #F596AA;
  max-width: 125px;
  height: 2px;
}

#content-box-1 {
  background: url(../images/towada-lake.jpg) #5DAC81;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #5DAC81;
}

#content-box-2 {
  background: url(../images/apple-farm.jpg) #5DAC81;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #5DAC81;
}

#content-box-3 {
  background: url(../images/misawa-dogrun.jpg) #5DAC81;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #5DAC81;
}

.link-type01 a {
  color: #FFFFFB;
}

.link-type01 a:hover{
  color: #F596AA;
}

@media(max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  #content-box-1 {
    background-attachment: scroll;
  }

  #content-box-2 {
    background-attachment: scroll;
  }

  #content-box-3 {
    background-attachment: scroll;
  }
}
